<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Propiedad Auto</title>
    <!-- Enlace al archivo de estilos de Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white font-bold text-xl">Agregar Propiedad Auto</h1>
            <ul class="flex space-x-4">
                <li><a href="http://127.0.0.1:8000/" class="text-white hover:text-gray-200">Inicio</a></li>
            </ul>
        </div>
    </nav>

    <div class="max-w-lg mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-5">Agregar Nueva Propiedad Auto</h2>
        <form method="post" class="bg-white p-8 rounded-lg shadow-lg">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-6">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Agregar
                </button>
            </div>


        </form>
    </div>

</body>

</html>